@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";

body{
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

@theme{
    --color-primary-black: #1A1A1A;
    --color-black-base: #585858;
    --color-red-primary: #E63946;
}